[submodule "AstralEngine/vendors/glfw"]
	path = AstralEngine/vendors/glfw
	url = git@github.com:yaBoiSamy/glfw.git
[submodule "AstralEngine/vendors/spdlog"]
	path = AstralEngine/vendors/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "AstralEngine/vendors/imgui"]
	path = AstralEngine/vendors/imgui
	url = https://github.com/yaBoiSamy/imgui
[submodule "AstralEngine/vendors/glm"]
	path = AstralEngine/vendors/glm
	url = git@github.com:g-truc/glm.git
